body.landing {
     background-color: rgb(19,19,19);
 }

 .selling-points {
     position: relative;
 }

 .point {
     position: relative;
     padding: 2rem;
     text-align: center;
     opacity: 1;
 }

 .point .point-title {
     font-size: 1.25rem;
 }

 .selling-points .ion-music-note,
 .ion-radio-waves,
 .ion-iphone {
     color: rgb(233,50,117);
     font-size: 5rem;
 }
