*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%;
}

body {
    background-color: rgba(50, 50, 50, 1);
    background-size: cover;
    font-family: 'Open Sans';
    color: white;
    min-height: 100%;
    padding-bottom: 15%;
}

main {
    padding-left: 6rem;
    padding-right: 1rem;
}

.hero-content {
    position: relative;
    height: 30rem;
    background-image: url(../images/bloc_jams_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero-content .hero-title {
    position: absolute;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-shadow: 1px 1px 0px rgb(58,23,63);
}

.container {
    margin: 0 auto; /* as only 2 args given, auto determines L & R margin size here */
    max-width: 64rem;
}

.container.narrow {
    max-width: 56rem;
}

.link-text {
    position: relative;
    display: block;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    font-weight: 300;
    color: white;
    /*text-align: center;*/
    text-decoration: none;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

@media (min-width: 640px) {
    html { font-size: 112%; }

    .column {
        float: left; /* ensures column elements stick to L side of its container */
    }

    .column.full { width: 100%; }
    .column.two-thirds { width: 66.7%; }
    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth { width: 25%; }
    .column.flow-opposite { float: right; }
}

@media (min-width: 1024px) {
    html { font-size: 120%; }
}
