<ng-include src="'js/templates/left_nav.html'"></ng-include>

<main>
    <section class="album-covers container clearfix">
        <h1>Browse Collection</h1>
        <div class="collection-album-container column third" ng-repeat="album in collection.albums track by $index">
            <a ui-sref="album({id: album.id})"><img src="{{ album.artURL }}"></a>
            <div class="collection-album-info caption">
                <p>
                    <a class="album-name" ui-sref="album({id: album.id})">{{ album.title }} — {{ album.artist }}</a>
                </p>
            </div>
        </div>
    </section>
</main>

<ng-include src="'js/templates/player_bar.html'"></ng-include>
