<div>
    <nav class="left-nav" ng-controller="NavCtrl"> <!-- navigation bar -->
        <a ui-sref="landing" class="logo">
            <img src="../images/bloc_jams_logo.png" alt="bloc jams logo" class="logo">
        </a>
        <ul class="links-container">

            <li><a ui-sref="collection" class="nav-link"><div class="ion-music-note"></div>Collection</a></li>
            <li><a ui-sref="playlistIndex" class="nav-link"><div class="ion-ios-list-outline"></div>Playlists</a></li>
            <li><a ui-sref="songlist" class="nav-link"><div class="ion-disc" style="font-size: 1.8rem"></div>Songs</a></li>


            <!-- <li><a ng-hide="signedIn()" ui-sref="login" class="nav-link">Log In</a></li>
            <li><a ng-hide="signedIn()" ui-sref="register" class="nav-link">Register</a></li>
            <li><a ng-show="signedIn()" ui-sref="/" class="nav-link">{{ user.username }}</a></li>
            <li><a ng-show="signedIn()" ng-click="logout()" class="nav-link">Log Out</a></li> -->
        </ul>
    </nav>
</div>
