<ng-include src="'js/templates/left_nav.html'"></ng-include>

<main class="container narrow">

    <table class="song-list">
        <tr class="song-item"
            ng-repeat="song in songlist.songs track by $index"
            ng-mouseover="hovered = true"
            ng-mouseleave="hovered = false">

            <td class="song-item-number">
                <span ng-show="!song.playing && !hovered">{{ $index + 1 }}</span>

                <a class="song-button"
                    ng-show="!song.playing && hovered"
                    ng-click="songlist.play(song, $index)"><span class="ion-play"></span>
                </a>

                <a class="song-button"
                    ng-show="song.playing"
                    ng-click="songlist.pause(song)"><span class="ion-pause"></span>
                </a>
            </td>

            <td class="song-item-title">{{ song.title }}</td>
            <td class="song-item-artist">{{ song.album.artist }}</td>
            <td class="song-item-duration">{{ song.duration | timecode }}</td>
        </tr>
    </table>

</main>

<ng-include src="'js/templates/player_bar.html'"></ng-include>
